#scrolly {
  position: relative;
}

.noscrolly {
  padding: 0;
  max-width: 60rem;
  margin: 0 auto;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  left: 0;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.step {
  margin: 0 auto 0 auto;
  padding: 0;
  height: 100vh;
  border: 1px dashed #aaa;
  width: 80%;
}

.step p {
  text-align: center;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.sticky-img {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
  overflow: hidden;
}

.p5Canvas {
  margin: 0 auto;
}

body {
  background-color: #622B9B;
}