* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #622B9B;
}

/* Globale Einstellung Container */
.noscrolly {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  padding: 0 20px;
  pointer-events: none;
}

/* Einstellung Artikel */
.article {
  position: relative;
  padding: 0;
  width: 100%;
  max-width: none; /* Beschränkung aufgehoben */
  margin: 0;
}

/* Einstellung Sticky Elemente zb Bild und Video */
.figure {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  left: 0;
  margin: 0;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
  width: 100%;
  background-color: #622B9B;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

/* Container der Text Boxen */
.step {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100%;
  max-width: none; /* Beschränkung aufgehoben */
}

/* Erzeugt Abstand nach der Landingpage zur ersten Textbox */
.step:first-of-type {
  margin-top: 100vh; /* Erhöhen für mehr Abstand (z. B. 100vh = 1 ganze Bildschirmhöhe) */
}

/* Einstellung Text Boxen bei scroll*/
.step p {
  text-align: left;
  font-size: 18px;
  font-family: 'Hanken Grotesk';
  text-align: left;
  margin: 0 auto;
  padding: 30px 30px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 80%;
  color:  #622B9B;
}

.sticky-img {
  margin: 0;
  height: 100vh;
  display: block;

}

/*Hintergrund*/
body {
  margin: 0;
  padding: 0;
  background-color: #622B9B;
  overflow-x: hidden;
  width: 100%;
}


/*TITEL*/
h1 {
  margin: 0; /* Verhindert Lücke oben */
  color: #622B9B; /* Zurück auf Weiss, damit es auf dem Video lesbar ist */
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  text-align: left; /* Zentriert */
}

/*Lead*/
.lead {
  margin: 10px 0 0 0;
  color: #622B9B; /* Zurück auf Weiss */
  font-family: "Hanken Grotesk";
  text-align: left; /* Zentriert */
}
